<form class="form">
  <div>
  <mat-form-field appearance="outline">
    <input (keyup.enter)="onSearchPrompted()" type="text" placeholder="Buscar..."  matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
    <mat-icon class="material-symbols-outlined">search</mat-icon>
  </div>
</form>
