<nav>
  <div>
    <a [routerLink]="''"><img id="logo" src="assets/bohemia-logo-white.png" alt="logo"></a>
  </div> 
  <app-autocomplete [locationList]="locationList"></app-autocomplete>

  <nav class="navbar">
    <button *ngFor="let button of arr" class="nav-button" [routerLink]="button.route">{{button.name}}</button>
  </nav>

  <div  class="accountbutton">
    <button *ngIf="jwtService.currentUserSig() === null" id="account" mat-raised-button (click)="openLogin()"> Login</button>
    <button *ngIf="jwtService.currentUserSig()" id="account" mat-raised-button (click)="openUser()"> {{jwtService.currentUserSig()?.user_name}} {{jwtService.currentUserSig()?.user_surname}}</button>
  </div>

</nav>
  
<router-outlet></router-outlet>
  