<div id="main">
<div class="full-screen-container">
  <app-swiper *ngIf="isBrowser" class="slideshow" ngSkipHydration></app-swiper>
</div>

<br>

<app-list-of-events [eventList]="eventList"></app-list-of-events>

<div id="sp">
<iframe style="border-radius:12px"
  src="https://open.spotify.com/embed/playlist/2tfcRjVQ5FxpW8C5LrrlVC?utm_source=generator&theme=0" width="100%"
  height="500" frameBorder="0" allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

<footer>
  <section>
    <img id="footlogo" src="assets/bohemia-logo-white.png" alt="logo">
  </section>
</footer>

</div>