<div class="full-screen-container">
  <!--
  <div class="slideshow">
    <img loading="lazy" *ngFor="let image of images" [src]="image" alt="Background photo">  
  </div> 

  <swiper-container class="slideshow" loop="true" autoplay="true" ngSkipHydration>
    <swiper-slide *ngFor="let image of images">
      <img [src]="image" alt="Background photo">
    </swiper-slide>
  </swiper-container>
-->
  <app-swiper *ngIf="isBrowser" class="slideshow" ngSkipHydration></app-swiper>

  <app-autocomplete id="searchBar" [locationList]="locationList"></app-autocomplete>
</div>
<br>

<app-list-of-events [eventList]="eventList"></app-list-of-events>

<footer>
  <section>
    <img id="footlogo" src="assets/bohemia-logo-white.png" alt="logo">
  </section>
</footer>