app-autocomplete {
  margin-top: 1rem; 
  z-index: 1000; 
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.25rem;
  background-color: rgb(233, 41, 150);
  z-index: 1000;
  margin-top: auto;
}

#footlogo {
  height: 5rem;
  margin-right: 10px;
}

footer section {
  display: flex;
  align-items: center;
}

.full-screen-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slideshow img {
  width: 100vw;
  height: calc(100vh - 4rem);
  object-fit: cover;
  flex-shrink: 0;
  filter: brightness(35%)
}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}